body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  height: 100vh;
  width: 100vw;
  background-color: #34384B;
}

.wh-10 {
  width: 3vw;
  height: 8vh;
}

.fit-content {
  width: fit-content;
  height: fit-content; 
  margin: 0 auto;
}

.cell:hover {
  transform: scale(1.2);
  box-shadow: 0 0 0 2px red;
}

.modal .modal-content {
  background-color: #34384B;
}