body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #031321;
    font-family: consolas;
}
input[type="image"] {
    top:90%;
}
div h1 {
    position: absolute;
    font-size: 20px;
    margin-left: 1%;
    margin-top: -0.5%;
    padding-left: 10px;
    padding-right: 10px;
}
/* Blue color*/
.blue {
    margin: 1%;
    border: 1px solid #255784;
    color: #2196f3;
}
.blue h1 {
    background-color: #031321;
}
.blue a {
    color: #2196f3;
}

.blue .glow:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3;
}
.blue .base span:nth-child(1) {
    background: linear-gradient(90deg, transparent, #2196f3);
}
.blue .base span:nth-child(2) {
    background: linear-gradient(180deg, transparent, #2196f3);
}
.blue .base span:nth-child(3) {
    background: linear-gradient(270deg, transparent, #2196f3);
}
.blue .base span:nth-child(4) {
    background: linear-gradient(360deg, transparent, #2196f3);
}

/* Green color */
.green {
    margin: 1%;
    border: 1px solid #055205;
    color: #0c8612;
} 
.green h1 {
    background-color: #031321;
} 
.green a {
    color: #0d5e11;
}
.green .glow:hover {
    color: #055205;
    background: #0c8612;
    box-shadow: 0 0 10px #0c8612;
}
.green .base span:nth-child(1) {
    background: linear-gradient(90deg, transparent, #0c8612);
}
.green .base span:nth-child(2) {
    background: linear-gradient(180deg, transparent, #0c8612);
}
.green .base span:nth-child(3) {
    background: linear-gradient(270deg, transparent, #0c8612);
}
.green .base span:nth-child(4) {
    background: linear-gradient(360deg, transparent, #0c8612);
}

/* Red color */
.red {
    margin: 1%;
    border: 1px solid #8a1616;
    color: #c51313;
} 
.red h1 {
    background-color: #031321;
} 
.red a {
    color: #8a1616;
}
.red .glow:hover {
    color: #8a1616;
    background: #c51313;
    box-shadow: 0 0 10px #c51313;
}
.red .base span:nth-child(1) {
    background: linear-gradient(90deg, transparent, #c51313);
}
.red .base span:nth-child(2) {
    background: linear-gradient(180deg, transparent, #c51313);
}
.red .base span:nth-child(3) {
    background: linear-gradient(270deg, transparent, #c51313);
}
.red .base span:nth-child(4) {
    background: linear-gradient(360deg, transparent, #c51313);
}

/* Black color */
.black {
    margin: 1%;
    border: 1px solid #000000;
    color: #585353;
} 
.black h1 {
    background-color: #031321;
} 
.black a {
    color: #585353;
}
.black .glow:hover {
    color: #585353;
    background: #000000;
    box-shadow: 0 0 10px #000000;
}
.black .base span:nth-child(1) {
    background: linear-gradient(90deg, transparent, #000000);
}
.black .base span:nth-child(2) {
    background: linear-gradient(180deg, transparent, #000000);
}
.black .base span:nth-child(3) {
    background: linear-gradient(270deg, transparent, #000000);
}
.black .base span:nth-child(4) {
    background: linear-gradient(360deg, transparent, #000000);
}

/* Multicolor */
.multi {
    margin: 1%;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to right, #743ad5, red);
    color: #743ad5;
} 
.multi h1 {
    background-color: #031321;
} 
.multi a {
    color: #585353;
}
.multi .glow:hover {
    color: #585353;
    background: #000000;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to right, #743ad5, red);
    transition-delay: 0s;
}
.multi .base span:nth-child(1) {
    background: linear-gradient(90deg, #743ad5, red);
}
.multi .base span:nth-child(2) {
    background: linear-gradient(180deg, #743ad5, red);
}
.multi .base span:nth-child(3) {
    background: linear-gradient(270deg, #743ad5, red);
}
.multi .base span:nth-child(4) {
    background: linear-gradient(360deg, #743ad5, red);
}

/* Button effect: Animation all round before glow */
.base {
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    margin: 1%;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.glow:hover {
    transition-delay: 1s;
}
.base span {
    position: absolute;
    display: block;
}
.top span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
}
.top:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}
.bottom span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
}
.bottom:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.left span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}
.left:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.right span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}
.right:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/* No delay between animations */
.nodelay:hover span:nth-child(1), 
.nodelay:hover span:nth-child(2),
.nodelay:hover span:nth-child(3),
.nodelay:hover span:nth-child(4) {
    transition-delay: 0s;
}

/* The effect stays after animation */
.left_stay:hover span:nth-child(1) {
    left: 0;
}
.right_stay:hover span:nth-child(3) {
    right: 0;
}