body {
    font-family: sans-serif;
    background: #34495e;
}
.grid-layout{
    display: grid; /* 1 */
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw; /* 2 */
    text-align: center;
}   
.box {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 30px;
    padding-top: 10px;
    background: #191919;
    text-align: center;
}
.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box a {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 5px 10px;
    outline: none; 
    color: white;
    border-radius: 24px;
    transition: 0,25s;
    cursor: pointer;
    text-decoration: none;
}
.box a:hover {
    background: #3498db;
}