period1, period2, period3, period4, period5, period6, period7

.flexfill
    display: flex
    flex-flow: column
    height: 100%
    > div // First div
        flex: 0 1 auto
    div:last-child
        flex: 1 1 auto

.icke-metall
    > div
        background-color: #0066CC
    div:last-child
        background-color: #03C

.metalloid
    > div
        background-color: #006600
    div:last-child
        background-color: #003C00

.övrig-metall
    > div
        background-color: #00cc00
    div:last-child
        background-color: #008400

.alkaliemetall
    > div
        background-color: #833081
    div:last-child
        background-color: #582062

.alkalisk-jordartsmetall
    > div
        background-color: #A63737
    div:last-child
        background-color: #722525

.halvmetall
    > div // First div
        background-color: #FF6600
    div:last-child
        background-color: #A64200

.ädelgas
    > div
        background-color: #293F76
    div:last-child
        background-color: #1B284B

.halogen
    > div
        background-color: #3E67B5
    div:last-child
        background-color: #284477

.lantanoid
    > div
        background-color: #CC6699
    div:last-child
        background-color: #AF3A75

.aktinid
    > div
        background-color: #CC33FF
    div:last-child
        background-color: #A600DD