body{
    background-color: #5a3f11;
}

/* Header Layout */ 
#header_search{
    position: relative;
}

#logo{
    width: 100vw;
}

#searchbar_form{
    position: absolute;
    right: 1%;
    top: 35%;
}

#searchbar_form input[type=text] {
    background-color: #9c5518;
    float: left;
    padding: 6px;
    width: 8vw;
    font-size: 17px;
    border: none;
}

#searchbar_form button {
    float: right;
    padding: 6px 10px;
    background: #834610;
    font-size: 17px;
    color: burlywood;
    border: none;
    cursor: pointer;
  }

  #searchbar_form button:hover {
    background: rgb(117, 58, 15);
  }

/* Main Layout */ 
h1{
    text-decoration: underline 3px;
    display: inline-block;
}
a {
    color: inherit;
}
.category_header{
    height: 8vh;
}
.category_header img{
    max-height: 25%;
    margin-left: 0.3%;
}
#arrowRight{
    box-shadow: inset 0 0 0 1px black, 0 0 3px black;
    padding: 3px;
}
#arrowRight:hover{
    box-shadow: inset 0 0 0 1px #9c5518, 0 0 3px #9c5518;
}
.grid-layout{
    display: grid; /* 1 */
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw; /* 2 */
    text-align: center;
}
/* .grid-layout div:hover{
    box-shadow: inset 0 0 0 4px black, 0 0 1px black;
} */
.gods, .creatures, .lore {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
.gods:hover, .creatures:hover, .lore:hover {
    cursor: pointer;
}
.gods:hover:before{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.gods:before, .creatures:before, .lore:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: #9c5518;
    border-style: solid;
    border-width: 0;
    -webkit-transition-property: border-width;
    transition-property: border-width;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.gods:hover:before, .gods:focus:before, .gods:active:before,
.creatures:hover:before, .creatures:focus:before, .creatures:active:before,
.lore:hover:before, .lore:focus:before, .lore:active:before{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: 4px;
}
.gods img, .creatures img, .lore img{
    width: 20vw;
    height: 100%;    
}
.name{
    position: absolute;
    bottom: 0;
    right: 0;
    border: 10px solid transparent;
    border-image: url(images/frame2.png) 15% fill;
    font-size: larger;
    padding: 3px;
}

/* Footer */
footer{
    border-top: 1px solid #946c28;
    background-color: #412d0b;
    margin-top: 10px;
    color: burlywood;
    display: flex;
}

footer ul{
    flex: auto;
}

footer div{
    justify-content: flex-end;
    width: 80px;
    height: 80px;
    margin: 10px;
    text-align: center;
}

/* Smaller resolutions */
@media screen and (max-width: 1024px){
    .grid-layout{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: cemter;
    }
    #logo{
        scale: 50%;
    }
} 