body {
  margin: 0;
  padding: 0;
  background: #031321;
}

input[type=image] {
  top: 90%;
}

div h1 {
  position: absolute;
  background-color: #031321;
  font-size: 20px;
  margin-left: 1%;
  margin-top: -0.7%;
  padding-left: 10px;
  padding-right: 10px;
}

.btn.shrink_bottom_top,
.btn.shrink_top_bottom,
.btn.fill_top_bottom:hover,
.btn.fill_bottom_top:hover,
.btn.fill_left_right:hover,
.btn.fill_left_bottom_right_top:hover {
  color: #000000;
}

/* === COLORS === */
/* Blue color*/
.blue {
  margin: 1%;
  border: 1px solid #255784;
}

.blue h1 {
  color: #044b85;
}
.blue button {
  color: #044b85;
  border: 1px solid #044b85;
}
.blue button:hover {
  box-shadow: 0 0 10px #044b85;
}
.blue .shrink_bottom_top:hover,
.blue .shrink_top_bottom:hover {
  color: #044b85;
}
.blue .btn::before {
  background: #044b85;
}

/* Green color */
.green {
  margin: 1%;
  border: 1px solid #055205;
}

.green h1 {
  color: #0c8612;
}
.green button {
  color: #0d5e11;
  border: 1px solid #0d5e11;
}
.green button:hover {
  box-shadow: 0 0 10px #0c8612;
}
.green .shrink_bottom_top:hover,
.green .shrink_top_bottom:hover {
  color: #0d5e11;
}
.green .btn::before {
  background-color: #055205;
}

/* Red color */
.red {
  margin: 1%;
  border: 1px solid #740000;
}

.red h1 {
  color: #740000;
}
.red button {
  color: #740000;
  border: 1px solid #740000;
}
.red button:hover {
  box-shadow: 0 0 10px #740000;
}
.red .shrink_bottom_top:hover,
.red .shrink_top_bottom:hover {
  color: #740000;
}
.red .btn::before {
  background: #740000;
}

/* Black color */
.black {
  margin: 1%;
  border: 1px solid #000000;
}

.black h1 {
  color: #585353;
}
.black button {
  color: #585353;
  border: 1px solid #000000;
}
.black .shrink_bottom_top,
.black .shrink_top_bottom {
  color: #585353;
}
.black .fill_top_bottom:hover,
.black .fill_bottom_top:hover,
.black .fill_left_right:hover,
.black .fill_left_bottom_right_top:hover {
  color: #585353;
}
.black button:hover {
  box-shadow: 0 0 10px #000000;
}
.black .btn::before {
  background: #000000;
}

/* Multicolor */
.multi {
  margin: 1%;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, #743ad5, red);
}

.multi h1 {
  color: #743ad5;
}
.multi button {
  color: #743ad5;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, #743ad5, red);
}
.multi button:hover {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, #743ad5, red);
}
.multi .btn:last-child:hover {
  background: #000000;
  box-shadow: 0 0 10px #000000;
}
.multi .shrink_bottom_top:hover,
.multi .shrink_top_bottom:hover {
  color: #743ad5;
}
.multi .btn::before {
  background: linear-gradient(to right, #743ad5, red);
}

/* === ANIMATION === */
.btn {
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 1%;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.8s;
}

.fill_top_bottom::before,
.shrink_bottom_top::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.fill_bottom_top::before,
.shrink_top_bottom::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.shrink_bottom_top::before,
.shrink_top_bottom::before {
  height: 180%;
}

.fill_top_bottom:hover::before,
.fill_bottom_top:hover::before {
  height: 180%;
}

.shrink_bottom_top:hover::before,
.shrink_top_bottom:hover::before {
  height: 0%;
}

/* Fill left to right */
.fill_left_right::before {
  top: 0;
  width: 0%;
  height: 100%;
  border-radius: 0 25% 25% 0;
}

.fill_left_right:hover::before {
  width: 130%;
}

/* Fill left bottom corner to right top corner */
.fill_left_bottom_right_top::before {
  bottom: 0;
  width: 0%;
  height: 0%;
  border-radius: 0 50% 0 0;
}

.fill_left_bottom_right_top:hover::before {
  width: 130%;
  height: 110%;
}